body {
	padding-top: 50px;
	color: #959595;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
	}
	

.featuree {
	/*background: yellowgreen linear-gradient(to bottom, greenyellow, olivedrab);*/
	 background: white;
	color: #92a8d1;
	}



.feature {
	/*background: yellowgreen linear-gradient(to bottom, greenyellow, olivedrab);*/
 background: white;
  opacity: 0.80;
	color: #92a8d1;
	}

#feature-carousel {
	min-height: 500px;
	}

#feature-carousel img {
	margin: 0 auto;
	}
		
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: yellowgreen;
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.feature,
.small-print {
	text-align: center;
	}





a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}

